body{
  background-color: #fdfdfde0;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 12px 20px;
  background-color: #20beca8a;
  color: rgb(247, 247, 247);
  position:relative;
}

.contact-info {
  display: flex;
  flex-direction:row;
  color: black;
  font: 1.5em italic;
}
.email a{
  text-align: center;
  margin-left: 110pt;
  margin-right: 20px;
  color: #1f7cdf;
  text-decoration: none;
}
.telephone a{
  text-align: center;
  margin-right: 20px;
  color: #1f7cdf;
  text-decoration: none;
}

.social-media {
  display: flex;
  gap: 10px;
  margin-right: 20%;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-left: 3pt;
  margin-right: 5pt;
}

.logo {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 50px;
}
.navbar {
  z-index: 3;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  background-color: #20beca8a;
  height: 10pt;
  border-color:#20bfca;
  border-radius: 2px;
  border-style: solid;

}

.dropdown {
  z-index: 3;
  margin: 0;
}

.dropdown .dropbtn {
  padding: 14px 16px;
  margin: 0;
  width: 10pt;
  height: 11pt;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: 20beca8a;
}

.dropdown-content {
  display: none ;
  position: absolute;
  background-color: #20beca8a;
}
.dropdown-content a {
  color: rgba(13, 0, 255, 0.637);
  padding: 10px 10px 9px 9px;
  text-decoration: none;
  display: block;
  text-align: left;
  font: 15pt italic;


}

.dropdown-content a:hover {
  background-color: #24b7b4;
  color:rgba(13, 0, 255, 0.819);

}

.dropdown:hover .dropdown-content {
  display:block;
  
}
.book-appointment-button {
margin-left: 200px;
text-decoration: none;
background-color:#c5e6e9;
color: black;
font-size: 20px;
padding: 1px 4px;
border-radius: 4px;
}
.book-appointment-button:hover{
background-color: #24b7b4;
}

.icon{
width: 20px;
height: 20px;
margin-left: 3pt;
margin-right: 5pt;
}
.images-text{
text-align:left;
margin-top: 25px;
margin-right: 490px; ;
margin-left: 200px;
}
.images-text p{
  color: #0022ff73;
  font-size: 4ex;
  text-indent: 5px;
}
.images-text h1{
  color: #0000ff;
  font-size: 5.1ex;
}
.statment{
color: rgb(23, 69, 205);
}
.images {
  position: relative;
  width: 100%;
  height: 400px; 
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.background-image-hp {
  width: 80%;
  height: 135%;
  position: absolute; 
  margin-top: 30pt;
  margin-left: 90pt;
  border-radius: 3%;
  z-index: -1;
}


.background-image {
  width: 80%;
  height: 90%;
  position: absolute; 
  margin-top: 30pt;
  margin-left: 90pt;
  border-radius: 3%;
  z-index: -1;
}
.background-image-dep {
  width: 80%;
  height: 90%;
  position: absolute; 
  top: 100pt;
  margin-left: 100pt;
  border-radius: 3%;
  z-index: -1;
}

.hospital-photo {
  display: flex;
  width: 300px; 
  height: 250px;
  border-radius: 20%;
  position: absolute;
  margin-left: 10%;
  top: 50%; 
  left: 70%;
  transform: translate(-50%, -50%); 
  z-index: -1; 
}
.dep-title{
  text-align: center;
  margin-top: 50pt;
  color: #0014f3;
}
.Department-1{
width: 220px;
  height: 190px;
  border-radius: 50%;
  border-style: solid;
  border-width: 10%;
  border-color: rgb(37, 167, 218);
  z-index: 1; 
}
 
.Department-2{
  width: 220px;
  height: 190px;
  border-radius: 50%;
  border-style: solid;
  border-width: 10%;
  border-color: rgb(37, 167, 218);
  z-index: 1; 
  
}
.Departments-content {
display: flex;
justify-content: space-around;
align-items: flex-start;
margin-top: 50px;
}

.department {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
width: 220px; 
}
.department h1, .department p {
margin: 0;
}

.department h1 {
font-size: 22px;
margin-top: 20px; 
color: #0000ff;

}

.department p {
font-size: 20px;
margin-top: 5px; 
color: #0000ffd0;
}

.Department-1-info, .Department-2-info {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.footer{
display:block;
justify-content: space-between;
align-items: flex-start; 
margin-top: 30%;
padding: 12px 20px;
background-color: #20beca8a;
color: white;
position: relative;
text-decoration: none;
}
.footer p{
color: #1f7cdf;
text-align: center;
position: relative;
margin-left: 100pt;
text-decoration: none;

}
.search-container{
margin-bottom: 20px;
}
#doctorSearch{
padding: 10px;   
font-size: 16px;
width: 250px;
margin-left: 450px;
margin-top: 130px;  
}
button{
padding: 10px;
font-size: 16px;
background-color:#20beca8a;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;

}
button:hover {
background-color: #0056b3;

}
.doctor-list {
display: flex;
flex-wrap: wrap;
justify-content: center;

}
.doctor-card {
background-color: white;
border: 1px solid #ddd;
border-radius: 8px;
padding: 15px;
margin: 30px; 
margin-top: -55pt; 
box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
width: 170px; 
text-align: center;
}
.doctor-card h3 {
font-size: 18px;
color: #007BFF;
margin-bottom: 5px;
}
.doctor-card p {
font-size: 14px;
color: #555;
}
.doctor-image {
width: 100%;
height: auto;
border-radius: 50%;
margin-bottom: 10px;
}
.background-image_doctor {
  width: 90%; 
  height: 90%;
  position: absolute; 
  margin-top: -200pt; 
  margin-left: 42pt; 
  border-radius: 3%;
  z-index: -5;
}

.pdoctor{
  text-align: center;
  margin-top: 50pt;
  color: #0014f3;
}
.pvbody{
  margin: 0;
  padding: 0;
}
.background-image_visitor {
  width: 80%;
  height: 78%;
  position: absolute; 
  margin-top: -110pt;
  margin-left: 90pt;
  border-radius: 3%;
  z-index: -5;
}
.pvtitle{
  margin-top: -22%;
  margin-bottom: 4.8%;
  text-align: center;
  margin-right: 20%;
  color: #0000ff;
}
.pvisitor{
  margin-top: -120pt;
  margin-left: 120pt;
}
.pvisitor h2,h4{
  color: #0000ff;
  font-size: 18pt;

}
.pvisitor ul li{
  list-style:square;
  font-size: 16pt;
  color: #045afbf7;
}
.image-visitor{
  position: absolute;
  top: -110px;
  left: 650px;
  height: 300px;
  width: 300px;
  border-radius: 10%;
  
}
.Gallery-container{
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px 0px;
  margin-top: 30%;
}
.Gallery-title{
  margin-bottom: 2rem;
  text-align: center;
  color: #0d35d4;
  font-size: 4em;
}
.photo-gallery{
  display: flex;
  gap: 20px;;
}
.column{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.photo-column img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.background-clip{
  position: absolute;
  top: 9%;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media(min-aspect-ratio:16/9){
  .background-clip{
    width: 100%;
    height: auto;
  }
}
@media(max-aspect-ratio:16/9){
  .background-clip{
    width: auto;
    height: 100%;
  }
}

@media(max-width: 768px){
  .photo-gallery{
    flex-direction: column;
  }
  
}
.contact-details {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: center;
}
.images-contact {
  display: flex;
  justify-content: center; 
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.images-contact img {
  width: 50px;
  height: 50px;
}
.contactus-text{
  text-align: center;
  margin-right: 200px;
  margin-top: -220pt;
  margin-left: 120pt;
}
.contactus-text h1{
  color: #0014f3;
}
.contactus-text p {
  font-size: 1.5em;
  color: #004cff;
  font-weight: bolder;
}
.contact-details h3{
  color: #004cff;
}
.feedbackbutton {
  top: 20px; 
  padding: 10px 20px;
  font-size: 16px;
  background-color:#004cff;
  color: white;
  text-decoration: none;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.feedbackbutton:hover {
  background-color: #001eff;
  box-shadow: -4px 9px 8px #007BFF;
}

.feedback-container {
  background-color: #e6f7ff;
  width: 400px;
  margin: 40px auto;
  height: 500px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #1e88ce;
  font-size: 18px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label, h3{
  color: #1e88ce;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.feedback-SR{
  background-color: #007acc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.feedback-SR :hover {
  background-color: #58abdf;
}

.feedback-SR [type="reset"] {
  background-color: #48bbec;
}

.feedback-SR[type="submit"]{
  background-color: #48bbec;
}

.background-fback {
  width: 80%;
  height: 120%;
  position: absolute; 
  margin-top: 30pt;
  margin-left: 90pt;
  border-radius: 3%;
  z-index: -1;
}

.loginbody{
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  margin-top: 10%;
  margin-left: 35%;
}

.login-container h2{
  margin-bottom: 20px;
  color: #145396;
}

.login-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  color: #5da4f0;
}

.login-container input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}

.register-link {
  margin-top: 10px;
  display: block;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
.login-container h5 {
  color: #145396;
  font-weight: bold;
}
.registerbody{
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  margin-top: 10%;
  margin-left: 35%;
}

.register-container h2 {
  margin-bottom: 20px;
  color:#145396;
}

.register-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  color: #5da4f0;
}

.register-container input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #0056b3;
}

.login-link {
  margin-top: 10px;
  display: block;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
.register-container h5 {color: #145396;
font-weight: bold;}

